  * {
      box-sizing: border-box;
  }

  img {
      width: 100%;
  }

  body {
      background-color: black;
      margin: 0;
  }


  /*** HEADER ***/
  #header {
      background-image: url(gradient.svg);
      height: 40vh;
      padding-left: 40px;
      padding-right: 40px;
  }

  #logo {
      display: flex;
      align-items: center;
      justify-content: center;
  }


  #header img {
      padding: 2vw;
      padding-top: 5vw;
      max-width: 120px;
  }



  h1 {

      font-family: 'Raleway', sans-serif;
      font-weight: 900;
      color: white;
      font-size: 6vw;
      text-transform: uppercase;
      margin-bottom: 0;

  }

  h3 {
      font-family: 'Zeyada', sans-serif;
      font-weight: 400;
      font-style: italic;
      color: whitesmoke;
      font-size: 4vw;
      text-align: center;
      margin-top: 0;
      font-style: italic;
  }



  /*** MENU ***/

  #web_menu {
      display: none;
  }

  nav {

      padding-top: 10px;
      padding-bottom: 10px;
  }

  #data-container {

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 1200px;
      grid-gap: 3vw;
      margin: 0 auto;
  }



  /*** burger start ***/

  .overlay_menu {
      position: fixed;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      overflow-x: hidden;
      transition: 0.5s;
      opacity: 0.8;
      z-index: 100;

      background-color: black;
      margin-top: 0;

  }


  .hidden {
      /*    display: none;*/
      /*    transform: scale(0);*/
      transform: translateX(-100%);
      opacity: 0;
  }

  #menuknap {
      position: fixed;
      right: 5vw;
      display: inline-block;
      z-index: 101;
      color: white;
      font-size: 2rem;
      font-family: 'Raleway', sans-serif;



  }

  #menu {
      list-style-type: none;
      transition: transform 0.5s;
      text-align: right;
      position: fixed;
      padding-top: 15vw;

  }

  #menu button {
      color: white;
      background-color: black;
      border: 0;
      font-size: 1.5rem;
      font-family: 'Raleway', sans-serif;
      margin-right: 5vw;

  }


  /*** burger slut ***/


  /**** POP-UP VINDUE ***/
  .skjul {
      display: none;
  }

  #detalje {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(5, 5, 5, 0.8);
      z-index: 10;
  }

  #fisk_detalje {
      position: fixed;
      top: 0;
      width: 90vw;
      background-color: black;
      z-index: 10;
      overflow: scroll;
      margin: 5vw;
      border-radius: 10px;
      top: 25%;
  }

  #detalje img {
      max-width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  #detalje .videre {
      font-family: 'Raleway', sans-serif;
      font-size: 0.8rem;
      margin-left: 5vw;
      background-color: black;
      color: whitesmoke;
      cursor: pointer;
      border: 0;
      border-right: 1px solid whitesmoke;
      border-left: 1px solid whitesmoke;
      font-weight: 100;
      font-style: normal;
      margin-bottom: 10vw;
  }


  #detalje .luk {
      width: 100%;
      text-align-last: right;
      font-size: 2rem;
      /*position: fixed;*/
      background-color: black;
      color: whitesmoke;
      border: 0;
      cursor: pointer;
  }

  #detalje h2,
  p {
      color: whitesmoke;
      font-family: 'Raleway', sans-serif;
      margin-left: 5vw;
      font-weight: 100;
      font-style: normal;
      margin-bottom: 1px;
  }





  /*** FOOTER ***/
  footer p {
      font-family: 'Raleway', sans-serif;
      color: white;
      padding: 30px;
      text-align: center;
      margin-bottom: 0;
      text-transform: uppercase;
      line-height: 17px;
  }
















































  @media only screen and (min-width: 600px) {

      /*** HEADER ***/
      #header {
          height: 40vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-size: cover;
          /*          position: relative;*/
      }



      #header img {
          padding: 2vw;
          padding-top: 5vw;
          max-width: 30vw;
      }



      h1 {
          font-weight: 900;
          font-size: 7vw;
          margin-bottom: 0;

      }

      h3 {
          font-size: 4vw;
      }

      p {
          color: whitesmoke;
      }



      button {

          font-weight: 100;
          font-style: normal;
          color: whitesmoke;
          background-color: black;
          font-size: 1.4rem;
          border: 0;
          cursor: pointer;
      }

      button:hover {
          text-decoration: underline whitesmoke;
      }

      /*** MENU ***/

      #web_menu {
          display: block;
          position: sticky;

          /*
          position: absolute;
          bottom: 0;
          left: 30vw;
*/
      }

      #mobile_menu {
          display: none;
      }

      .valgt {
          background-color: rgba(20, 20, 101, 1);
          color: white;
      }

      nav {
          background-color: black;
          padding-top: 10px;
          padding-bottom: 10px;
          /*          align-content: center;*/
          text-align: center;
          /*          margin-top: 20vw;*/
          /*          bottom: 0;*/
          z-index: 1;

      }


      .line {
          border-left: 1px solid white;
      }

      /*** GRID ***/
      #data-container {
          margin-top: 35px; /*Der er 35 px til toppen fra det sted grid'et starter*/
          cursor: pointer; /*Når man holder musen over noget i #data-container, laver musen en pointer, som indikerer, at det kan trykkes på*/
          display: grid;
          grid-template-columns: repeat(4, 1fr); /*Der er blevet etableret et grid og nu bestemmer vi, at der skal være 4 kolonner og de skal fylde 1 fraktion hver - altså de skal fylde lige meget hver*/
          max-width: 1200px;
          grid-gap: 2vw;
          grid-auto-flow: dense; /*Bruges ldit som et "beautify"-værktøj, så elementerne falder pænt på plads ved siden af hinanden*/
      }

      article:nth-child(3n) {
          grid-column: span 2;
          grid-row: span 2;/*For at skabe liv i gridet, har vi bestemt, at hver 3. child i article-tagget, skal fylde 2 og ikke længere 1. Både 2 på row og 2 på column. Altså der kommer til at være to mindre billeder, der fylder det samme og så dette lidt strre billede, som fylder 2 gange ét af de mindre billeder.*/
      }
          margin-top: 35px;
      }

      cursor: pointer;

      #data-container article {
          transition: 0.8s;
      }

      #data-container article:hover {

          transform: scale(1.15);
      }


      /*** POP-UP VINDUE ***/
      #detalje {
          /*position: fixed;*/
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(5, 5, 5, 0.8);
          z-index: 10;
          /*overflow: scroll;*/
      }

      #fisk_detalje {
          /*position: fixed;*/
          width: 50vw;
          height: 70vh;
          background-color: black;
          z-index: 10;
          overflow: scroll;
          margin: 0 25vw 0 25vw;
          border-radius: 10px;
      }

      #detalje img {
          max-width: 40%;
          display: block;
          margin-left: auto;
          margin-right: auto;
      }


      #fisk_detalje h2 {
          font-size: 1.7rem;
          margin-left: 5vw;
      }

      #detalje .videre {
          margin-bottom: 3vw;
      }

  }


  @media only screen and (min-width:768px) {
      #data-container {
          margin-top: 35px;
          cursor: pointer;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          max-width: 1200px;
          grid-gap: 2vw;
          grid-auto-flow: dense;
      }

      article:nth-child(3n) {
          grid-column: span 2;
          grid-row: span 2;
      }

      #header {

          height: 40vh;

      }

      #header img {
          max-width: 27vw;
      }

      h1 {
          font-size: 6vw;
      }
  }

  @media only screen and (min-width:900px) {
      #header {

          height: 45vh;
      }

      #header img {
          max-width: 20vw;
      }

      h1 {
          font-size: 4vw;
      }

      h3 {
          font-size: 3vw;
      }

  }

  @media only screen and (min-width:1024px) {
      #header {

          height: 45vh;
      }

      #header img {
          max-width: 18vw;
      }

      h1 {
          padding-top: 10px;
      }

      h3 {
          font-size: 2.5vw;
      }
  }

  @media only screen and (min-width:1200px) {
      #header {

          height: 60vh;

      }
  }
