  .valgt {
      background-color: #a70606;
      color: white;
  }

  #data-container {
      display: grid;

      grid-template-columns: repeat(2, 1fr);
      max-width: 1200px;
      grid-gap: 3vw;
      margin: 3vw 3vw 0vw 3vw;
      grid-auto-flow: dense;

  }

  article:nth-child(4n - 1) {
      grid-column: 1/3;
  }



  .skjul {
      display: none;
  }


  #detalje {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(5, 5, 5, 0.8);
      z-index: 10;
      /*overflow: scroll;*/
  }

  #detalje img {
      max-width: 40vw;
  }

  #detalje button {
      font-size: 1.5rem;
  }

  #fisk_detalje {
      background-color: black;
      width: 50vw;
      margin: 0 auto;
      margin-top: 15vw;
  }

  #fisk_detalje h1 {
      font-size: 1.7rem;
  }


  * {
      box-sizing: border-box;
  }

  img {
      width: 100%;
  }

  body {
      background-color: black;
  }

  #header {
      background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(20, 20, 101, 1) 35%, rgba(10, 135, 161, 1) 100%);
      height: 40vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 40px;
      padding-right: 40px;
  }

  h1 {
      font-family: titling-gothic-fb-wide, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
      font-size: 2rem;
      padding-top: 20px;
  }

  #header img {
      padding: 2vw;
      padding-top: 5vw;
      max-width: 120px;
  }

  nav {
      background-color: black;
      padding-top: 10px;
      padding-bottom: 10px;


  }

  /*  #header img {

      max-width: 40vw;
      flex-wrap: wrap;
  }*/

  /*GRID..*/




  /* H1 OG H2 STYLING HER ... */

  h1 {
      font-family: titling-gothic-fb-wide, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: white;
      font-size: 10vw;
      padding-top: 20px;
  }



















































  @media only screen and (min-width:600px) {

      #header {
          height: 45vh;
      }

      h1 {
          font-family: titling-gothic-fb-wide, sans-serif;
          font-weight: 400;
          font-style: normal;
          color: white;
          font-size: 2.5rem;
      }

      #header img {
          padding-top: 3vw;
          max-width: 180px;
      }

      button {
          font-family: titling-gothic-fb-narrow, sans-serif;
          font-weight: 100;
          font-style: normal;
          color: whitesmoke;
          background-color: black;
          font-size: 1.4rem;
          border: 0;
          cursor: pointer;
      }

      .line {
          border-left: 1px solid white;
      }

      nav {
          align-content: center;
          text-align: center;
          position: sticky;
          top: 0;
          z-index: 1;
      }

      #container {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
          max-width: 1200px;
          grid-gap: 3px;
      }

      #data-container {
          display: grid;

          grid-template-columns: repeat(4, 1fr);
          max-width: 1200px;
          grid-gap: 3vw;
          margin: 3vw 3vw 0vw 3vw;
          grid-auto-flow: dense;

      }

      article:nth-child(4n - 1) {
          grid-column: 1/3;
      }

      #detalje {
          position: fixed;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(5, 5, 5, 0.8);
          z-index: 10;
          /*overflow: scroll;*/
      }

      #detalje img {
          margin-left: 8vw;
          max-height: 400px;
          max-width: 280px;
      }


      #fisk_detalje {
          background-color: black;
          width: 40vw;
          margin: 0 auto;
          margin-top: 2vw;
      }

      #fisk_detalje h1 {
          font-size: 1.7rem;
          margin-left: 2vw;
      }

  }
